@use "mixins" as *;

.row {
    display: flex;
    flex-flow: row nowrap;
}

.row.center {
    align-items: center;
    justify-content: center;
}

.row.inline {
    align-items: center;
}

.row.block {
    justify-content: center;
}

.row.wrap {
    flex-flow: row wrap;
    white-space: nowrap;
}

.column {
    display: flex;
    flex-flow: column nowrap;
}

.column.center {
    align-items: center;
    justify-content: center;
}

.column.inline {
    align-items: center;
}

.column.block {
    justify-content: center;
}

.row.between, .column.between {
    justify-content: space-between;
}

.row.around, .column.around {
    justify-content: space-around;
}

.row.start, .column.start {
    justify-content: flex-start;
}

.row.end, .column.end {
    justify-content: flex-end;
}

.row.stretch, .column.stretch {
    justify-content: stretch;
}

.row.inline.stretch, .column.inline.stretch {
    align-items: stretch;
}

.row.inline.start, .column.inline.start {
    align-items: flex-start;
}

.row.inline.end, .column.inline.end {
    align-items: flex-end;
}

.grid {
    display: grid;
}

.grid.center {
    place-content: center;
}

.f-0 { flex-grow: 0; }
.f-1 { flex-grow: 1; }
.f-2 { flex-grow: 2; }
.f-3 { flex-grow: 3; }
.f-4 { flex-grow: 4; }
.f-5 { flex-grow: 5; }
.f-6 { flex-grow: 6; }
.f-7 { flex-grow: 7; }
.f-8 { flex-grow: 8; }
.f-9 { flex-grow: 9; }
.f-max { flex-grow: 100; }

.b-0 { flex-basis: 0; }
.b-auto { flex-basis: auto; }
.b-half { flex-basis: fit-content; max-width: calc-size(fit-content, size * 1.5); }
.b-double { flex-basis: fit-content; max-width: calc-size(fit-content, size * 2); }
.b-triple { flex-basis: fit-content; max-width: calc-size(fit-content, size * 3); }

.br-small { border-radius: 0.25rem !important; }
.br-medium { border-radius: 0.5rem !important; }
.br-large { border-radius: 0.75rem !important; }