//> COLORS
$dox-black: #272838;
$dox-black-light: #393A49;
$dox-grey-dark: #656672;
$dox-grey: #90929A;
$dox-grey-light: #B3B5BB;
$dox-white-dark: #C0C2C7;
$dox-white: #D8DADC;

$dox-green: #1FAD83;
$dox-yellow: #FFCF33;
$dox-red: #F55D3E;
$dox-purple: #8783D1;
$dox-blue: #78C3FB;

//> OVERRIDES
$primary: $dox-black;
$link:    $dox-blue;
$info:    $dox-purple;

$success: $dox-green;
$warning: $dox-yellow;
$danger: $dox-red;

// $light: $dox-grey;
// $dark:  $dox-black-light;

// $scheme-main:     $dox-white;
// $scheme-main-bis: $dox-grey-light;
// $scheme-main-ter: $dox-grey;