@charset "utf-8";

//> FONT
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,300&display=swap');
$family-sans-serif: "Montserrat", sans-serif;



$fullhd-enabled: false;
$widescreen-enabled: false;

$navbar-breakpoint: 600px;

@import './colors';
@import './mixins';

.content {
    p:not(:last-child) {
        margin-bottom: 0.5em !important;
    }

    blockquote {
        padding: 0.25em 0.5em !important;
        margin-bottom: 0.5em !important;
    }
}

.content-dark {
    blockquote {
        font-weight: 600;
        color: $dox-black-light;
        background-color: $dox-white !important;
    }
}

//> BULMA
@import '../../node_modules/bulma/bulma.sass';
// @import '../../node_modules/bulma/sass/base/_all.sass';
// @import '../../node_modules/bulma/sass/components/_all.sass';
// @import '../../node_modules/bulma/sass/elements/_all.sass';
// @import '../../node_modules/bulma/sass/form/_all.sass';
// @import '../../node_modules/bulma/sass/grid/_all.sass';
// @import '../../node_modules/bulma/sass/helpers/_all.sass';
// @import '../../node_modules/bulma/sass/layout/_all.sass';
// @import '../../node_modules/bulma/sass/utilities/_all.sass';

