// CSS Animations
@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes blur {
    from {
        backdrop-filter: none;
    }
    to {
        backdrop-filter: blur(0.5rem);
    }
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.spin {
    animation: spin 512ms linear infinite;
}

// Transition Group Animations
.scale-up-move,
.scale-up-enter-active,
.scale-up-leave-active {
  transition: all 512ms ease;
}

.scale-up-enter-from {
    transform: translateY(-50%) scaleY(0);
}

.scale-up-leave-to {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
}

.scale-up-leave-to:not(:first-child, :last-child) {
    opacity: 0;
    transform: scaleY(0);
}

// .scale-up-leave-active {
.scale-up-leave-active:not(:last-child) {
    position: absolute;
}

.tabs-move,
.tabs-enter-active,
.tabs-leave-active {
    transition: all 128ms ease;
}