@use "sass:color";

//> COLORS
$black-0: #272838;
$black-1: #393A49;
$black-2: #444554;
$black-3: #575966;
$black-4: #6A6C77;

$black-5: #8F919A;
$white-5: #8F919A;

$white-4: #B4B6BC;
$white-3: #C0C2C7;
$white-2: #E0E0E2;
$white-1: #F0F0F1;
$white-0: #FAFAFA;

$green: #1FAD83;
$green-light: color.scale($green, $lightness: 75%);
$green-dark: color.scale($green, $lightness: -80%);

$yellow: #FFBF1A;
$yellow-light: color.scale($yellow, $lightness: 75%);
$yellow-dark: color.scale($yellow, $lightness: -25%);

$red: #F55D3E;
$red-light: color.scale($red, $lightness: 75%);
$red-dark: color.scale($red, $lightness: -50%);

$blue: #78C3FB;
$blue-light: color.scale($blue, $lightness: 65%);
$blue-dark: color.scale($blue, $lightness: -70%);

$purple: #8783D1;
$purple-light: color.scale($purple, $lightness: 70%);
$purple-dark: color.scale($purple, $lightness: -75%);


//> OVERRIDES
$primary: $black-0;
$link:    $blue;
$info:    $purple;

$success: $green;
$warning: $yellow;
$danger: $red;


@keyframes voted {
    0% {
        outline-width: 1px;
    }
    50% {
        outline-width: 4px;
    }
    100% {
        outline-width: 1px;
    }
}

.dark {
    color: $white-0;
    background-color: $black-0;
}

.dark:hover {
    background-color: $black-3;
}

.positive, .success {
    color: $green;
    background-color: $green-light;
}

.positive:hover, .success:hover {
    color: $green-light;
    background-color: $green;
}

.positive.voted {
    outline: 1px solid $green;
}

.misleading, .warning {
    color: $yellow;
    background-color: $yellow-light;
}

.misleading:hover, .warning:hover {
    color: $yellow-light;
    background-color: $yellow;
}

.misleading.voted {
    outline: 1px solid $yellow;
}

.negative, .danger {
    color: $red;
    background-color: $red-light;
}

.negative:hover, .danger:hover {
    color: $red-light;
    background-color: $red;
}

.negative.voted {
    outline: 1px solid $red;
}

.topic, .link {
    color: $purple;
    background-color: $purple-light;
}

.topic:hover, .link:hover {
    color: $purple-light;
    background-color: $purple;
}

.info {
    color: $blue;
    background-color: $blue-light;
}

.info:hover {
    color: $blue-light;
    background-color: $blue;
}

.positive, .success, .misleading, .negative, .danger, .topic, .info {
    transition: color 256ms, background-color 256ms;
}

.voted {
    animation: voted 256ms ease-in-out;
}