@use "colors";

//> DEFAULT STYLING
html {
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    background-color: $dox-white-1;
}

body, figure {
    margin: 0;
    padding: 0;
}

#__nuxt {
    height: 100vh;
}

a, a:hover, a:active, a:visited {
    color: inherit;
    text-decoration: none;
}

.content {
    a {
        color: $dox-blue;
        font-weight: 600;
        text-decoration: underline;
    }
    
    a:visited {
        color: $dox-purple;
    }

    br {
        content: "";
        display: block;
        margin-bottom: 0.5rem;
    }
}

// TODO setup default font sizes
:not(.content) > {
    :is(h1, h2, h3, h4, h5, h6, p) {
        margin: 0;
    }
}

a:has(i, span), button:has(i, span) {
    @include flex-h (0.5rem);
    justify-content: center;
    align-items: center;
}

button {
    padding: 0.5rem 1rem;

    border: none;
    border-radius: 0.25rem;

    font-size: 1rem;
    font-family: inherit;
    font-weight: 700;

    background-color: $dox-white-2;
}

button:hover {
    cursor: pointer;
    color: $dox-white-0;
    background-color: $dox-white-3;
    transition: color 256ms, background-color 256ms;
}

.form {
    @include flex-v (0.75rem);
}

.field {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 0.25rem;
        font-size: 0.95rem;
        font-weight: 600;
    }

    input, textarea, select {
        padding: 0.5rem;

        font-size: 1rem;
        font-family: inherit;
        font-weight: 500;

        border: 1px solid $dox-white-1;
        border-radius: 0.25rem;
        background-color: $dox-white-0;
    }

    textarea {
        outline: none;
        resize: vertical;
    }

    input:hover, input:focus,
    textarea:hover, textarea:focus
    select:hover, select:focus {
        outline: 1px solid $dox-blue;
    }

    input::placeholder {
        color: #CCC;
        font-style: italic;
    }
}

p:has(img) {
    display: grid;
    place-items: center;
    
    img {
        margin-inline: auto;
        max-width: calc(100% - 8rem);
        // max-height: 256px;
    }
}

pre:has(code) {
    code {
        display: block;
        padding: 1rem;
        overflow-x: auto;
    }
}

.content.wrap {
    pre:has(code) {
        code {
            overflow-x: hidden;
            white-space: break-spaces;
        }
    }
}

code {
    padding: 0.1rem 0.33rem;
    font-size: 0.95rem;
    font-weight: 500;
    font-family: 'Source Code Pro', monospace;
    border-radius: 0.25rem;
    background-color: $dox-white-1 !important;
}

blockquote {
    margin: 0;
    padding: 0.5rem 1rem;
    font-style: italic;
    border-left: 3px solid $dox-white-2;
    border-radius: 0.25rem;
    background-color: $dox-white-1;
}