@use "colors" as *;
@use "mixins" as *;

.light {
    color: $black-0;
    background-color: $white-0;
}

.light:hover {
    background-color: $white-1;
}

.dark {
    color: $white-0;
    background-color: $black-0;
}

.dark:hover {
    background-color: $black-3;
}

.positive, .positive.inverted:hover,
.success, .success.inverted:hover {
    color: $green;
    background-color: $green-light;
}

.positive:hover, .positive.inverted,
.success:hover, .success.inverted {
    color: $green-light;
    background-color: $green;
}

.positive.voted {
    outline: 1px solid $green;
}

.misleading, .misleading.inverted:hover,
.warning, .warning.inverted:hover {
    color: $yellow;
    background-color: $yellow-light;
}

.misleading:hover, .misleading.inverted,
.warning:hover, .warning.inverted {
    color: $yellow-light;
    background-color: $yellow;
}

.misleading.voted {
    outline: 1px solid $yellow;
}

.negative, .negative.inverted:hover,
.danger, .danger.inverted:hover {
    color: $red;
    background-color: $red-light;
}

.negative:hover, .negative.inverted,
.danger:hover, .danger.inverted {
    color: $red-light;
    background-color: $red;
}

.negative.voted {
    outline: 1px solid $red;
}

.topic, .topic.inverted:hover,
.link, .link.inverted:hover {
    color: $purple;
    background-color: $purple-light;
}

.topic:hover, .topic.inverted,
.link:hover, .link.inverted {
    color: $purple-light;
    background-color: $purple;
}

.info, .info.inverted:hover {
    color: $blue;
    background-color: $blue-light;
}

.info:hover, .info.inverted {
    color: $blue-light;
    background-color: $blue;
}

.positive, .success, .misleading, .negative, .danger, .topic, .info {
    transition: color 256ms, background-color 256ms;
}

.voted {
    animation: voted 256ms ease-in-out;
}

.box {
    box-sizing: border-box;
    border-radius: 0.25rem;
    background-color: $white-0;
}

.tag {
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
    font-weight: 700;
    outline: 1px transparent;
    border-radius: 0.25rem;
}

.box.background {
    background-color: $white-3;
}

.animate {
    transition: transform 128ms;
}

.animate:hover {
    transform: scale(102%, 105%);
}

.text.bold {
    font-weight: 700;
}
.text.truncate {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text.break {
    white-space: break-spaces;
}
.text.center {
    text-align: center;
}
.text.left {
    text-align: left;
}
.text.right {
    text-align: right;
}

nav.tabstrip {
    width: stretch;
    justify-content: center;
    border-top: 1px solid $black-1;
    background-color: $black-0;

    button, a {
        min-height: 19px;
        padding: 0.5rem 0.75rem;
        font-weight: 700;
        font-size: 1.1rem;
        color: $white-2;
        border-radius: 0;
        background-color: $black-0;
    }

    button.selected, button:hover,
    a.selected, a:hover {
        cursor: pointer;
        background-color: $black-1;
    }
}

nav.tabstrip.wide {
    button, a {
        padding: 0.5rem 1.5rem;
    }
}

@media (max-width: $bp-desktop) {
    nav.tabstrip.large button:not(.selected) span,
    nav.tabstrip.large a:not(.selected) span {
        display: none;
    }
}

@media (max-width: $bp-tablet) {
    nav.tabstrip.medium button:not(.selected) span,
    nav.tabstrip.medium a:not(.selected) span {
        display: none;
    }
}

.tag:has(span, i) {
    @include flex-h(0.33rem);
    justify-content: center;
    align-items: center;
    line-height: 1rem;
}

span.tag {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
}

button.tag {
    padding: 0.5rem 1.25rem;
    font-size: 1rem;

    i {
        font-size: 1rem;
    }
}
