@use "mixins" as *;

.row {
    display: flex;
    flex-flow: row nowrap;
}

.row.center {
    align-items: center;
    justify-content: center;
}

.row.inline {
    align-items: center;
}

.row.block {
    justify-content: center;
}

.row.wrap {
    flex-flow: row wrap;
    white-space: nowrap;
}

.column {
    display: flex;
    flex-flow: column nowrap;
}

.column.center {
    align-items: center;
    justify-content: center;
}

.column.inline {
    align-items: center;
}

.column.block {
    justify-content: center;
}

.row.between, .column.between {
    justify-content: space-between;
}

.row.around, .column.around {
    justify-content: space-around;
}

.row.inline.stretch, .column.inline.stretch {
    align-items: stretch;
}

.row.end, .column.end {
    justify-content: flex-end;
}

.grid {
    display: grid;
}

.grid.center {
    place-content: center;
}

.f-0 { flex-grow: 0; }
.f-1 { flex-grow: 1; }
.f-2 { flex-grow: 2; }
.f-3 { flex-grow: 3; }
.f-4 { flex-grow: 4; }
.f-5 { flex-grow: 5; }
.f-6 { flex-grow: 6; }
.f-7 { flex-grow: 7; }
.f-8 { flex-grow: 8; }
.f-9 { flex-grow: 9; }
.f-max { flex-grow: 100; }

.b-0 { flex-basis: 0; }
.b-auto { flex-basis: auto; }

.fit-small, .fit-medium, .fit-large, .fit-huge, .fit-full {
    box-sizing: border-box;
    width: 100%;
}

.fit-small { max-width: 30rem; }
.fit-medium { max-width: 40rem; }
.fit-large { max-width: 60rem; }
.fit-huge { max-width: 80rem; }
.fit-full { max-width: 100%; }

.br-small { border-radius: 0.25rem; }
.br-medium { border-radius: 0.5rem; }
.br-large { border-radius: 0.75rem; }