@mixin flex-v($gap: 0em) {
    gap: $gap;
    display: flex;
    flex-flow: column nowrap;
}

@mixin flex-vw($gap: 0em) {
    gap: $gap;
    display: flex;
    flex-flow: column wrap;
}

@mixin flex-h($gap: 0em) {
    gap: $gap;
    display: flex;
    flex-flow: row nowrap;
}

@mixin flex-hw($gap: 0em) {
    gap: $gap;
    display: flex;
    flex-flow: row wrap;
}

@mixin fit-width($width: 100%, $padding: 0rem) {
    width: calc(100% - (2 * $padding));
    max-width: $width;
}

.fill {
    flex-grow: 1;
}

.shrink {
    flex-shrink: 1;
}

.row {
    @include flex-h;
}

.row.center-inline {
    align-items: center;
}

.row.center-block {
    justify-content: center;
}

.row.center {
    align-items: center;
    justify-content: center;
}

.row-wrap {
    @include flex-hw;
}

.row-fit {
    @include flex-h;
}

.column {
    @include flex-v;
}

.column.center-inline {
    align-items: center;
}

.column.center-block {
    justify-content: center;
}

.column.center {
    align-items: center;
    justify-content: center;
}

.column-wrap {
    @include flex-vw;
}

.column-fill {
    @include flex-v;
}

.g-0 { gap: 0 !important }
.g-1 { gap: 0.25rem !important }
.g-2 { gap: 0.5rem !important }
.g-3 { gap: 0.75rem !important }
.g-4 { gap: 1rem !important }
.g-5 { gap: 1.5rem !important }
.g-6 { gap: 3rem !important }