//> MIXINS 
@mixin shadow($size: 0.1rem, $blur: 0.5rem, $spread: 0.1rem, $color: $white-3) {
    box-shadow: $size 0 $blur $spread $color,
                0 $size $blur $spread $color,
                (-$size) 0 $blur $spread $color,
                0 (-$size) $blur $spread $color;
}
@mixin flex-v($gap: 0em) {
    gap: $gap;
    display: flex;
    flex-flow: column nowrap;
}

@mixin flex-vw($gap: 0em) {
    gap: $gap;
    display: flex;
    flex-flow: column wrap;
}

@mixin flex-h($gap: 0em) {
    gap: $gap;
    display: flex;
    flex-flow: row nowrap;
}

@mixin flex-hw($gap: 0em) {
    gap: $gap;
    display: flex;
    flex-flow: row wrap;
}

@mixin fit-width($width: 100%, $padding: 0rem) {
    width: calc(100% - (2 * $padding));
    max-width: $width;
}