# General app config
PORT=8000
BASE_URL=http://localhost:$PORT

# Where persistent storage/files are kept
DATA_PATH=./data

# Database configuration
# remote example: http://localhost:8000/rpc
# embedded example: rocksdb://./data/database/default.db
SURREAL_TYPE=embedded
SURREAL_URL=rocksdb://$DATA_PATH/database/default.db
SURREAL_NAMESPACE=forum
SURREAL_DATABASE=development

# Only required for remote SurrealDB mode
SURREAL_USERNAME=
SURREAL_PASSWORD=

# Startup default admin bootstrap
DEFAULT_USER_EMAIL=admin@example.com
DEFAULT_USER_NAME=admin
DEFAULT_USER_PASSWORD=admin123

# Browser display configuraiton
SITE_TITLE=ClassicForum
SITE_TITLE_SHORT=CF

# Optional SMTP config for email
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_SENDER_TITLE=