PORT= # the port of your running Nuxt instance. Ex: 3000
BASE_URL= # the address of your running Nuxt instance. Ex: http://localhost

SITE_TITLE= # the title you'd like to be displayed in the browser tab
SITE_TITLE_SHORT= # the shortened title used when space is limited

SURREAL_TYPE= # the SurrealDB instance type. Ex: remote or embedded
# remote example: http://localhost:8000/rpc
# embedded example: rocksdb://./database/default.db
SURREAL_URL=
SURREAL_NAMESPACE= # the namespace you'd like to use. Ex: example
SURREAL_DATABASE= # the database you'd like to use. Ex: development
SURREAL_USERNAME= # your SurrealDB root username, when SURREAL_TYPE=remote
SURREAL_PASSWORD= # your SurrealDB root password, when SURREAL_TYPE=remote

DEFAULT_USER_EMAIL= # the email of the default user created on startup
DEFAULT_USER_NAME= # the name of the default user created on startup
DEFAULT_USER_PASSWORD= # the password of the default user created on startup

MEDIA_PATH= # the path where media and embedded databases are saved

# OPTIONAL, only supply if needing to send emails
# You can use your personal gmail account as an SMTP server
# https://support.google.com/a/answer/176600?
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_SENDER_TITLE=